p {
  margin: 0;
  margin-bottom: 0 !important;
}
.container {
  padding-top: 3rem;
}

.products {
  justify-content: space-between;
}
.card {
  margin-bottom: 1rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}

.container-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.payment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
}
.user {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.cart-products {
  width: 100%;
  display: flex;
  height: auto;
}
.cart {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;

  display: flex;
}
.wrapLoading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.527);
}
.cardSuccess {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}
.cardSuccess img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.total,
.cart,
.clean {
  border: 1px black solid;
  border-radius: 4px;
  padding: 1rem;
}
.clean {
  margin-top: 2rem;
}
